<div class="nav-bar p-2">
    <div class="left-part">
      <button mat-mini-fab id="nav-left-button"><i class="material-icons" style="font-size:18px;">more_vert</i></button>
      <h4>{{ title }}</h4>
    </div>
    <div class="right-part">
      <div class="right-part" id="nav-right">
        <button mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons icon-btn">person</i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
      <div id="menu">
        <button mat-icon-button (click)="menuClick()"><i class="material-icons">menu</i></button>
      </div>
    </div>
  </div>
  