<div class="wrapper">
    <div class="sidebar-panel" id="sidebar" [style.background-color]="backgroundColor">
     <!-- <div class="sidebar-background" [style.background-image]="'url(../assets/img/sidebar-' + id + '.jpg)'"></div> -->
     <div class="sidebar-background" [style.background-image]="'url(../assets/img/aiware.jpg)'"></div>
     <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel ps-container ps-theme-default" id="main-panel">
      <toaster-container></toaster-container>
      <app-navbar title="Dashboard"></app-navbar>
      <router-outlet></router-outlet>
    </div>
  </div>