.card{
  padding: 20px 20px 15px 20px;
}

.card small{
  font-weight: 300;
}
.tab{    border-bottom: 3px solid #4271b7 ;}

.tab-content{
  display: none;
}

.h-tab .tab-link.active{
  background-color: #4271b7  !important;
  color: #FFF !important;
  box-shadow: 0 14px 26px -12px rgba(39, 110, 216, 0.42), 0 4px 23px 0px rgba(51, 48, 228, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2) !important;
}

.v-tab .tab-link.active{
  background-color: #00bcd4 !important;
  color: #FFF !important;
  box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2) !important;
}

.v-tab .tab-link{
  margin-bottom: 10px;
}

.h-tab .tab-link, .v-tab .tab-link{
  box-shadow: none !important;
  background-color: transparent !important;
  color: #555 !important;
}

.h-tab .tab-link:hover, .v-tab .tab-link:hover{
  background-color: rgba(200, 200, 200, 0.2) !important;
}

.h-tab .tab-link.active:hover{
  background-color: #457ac9 !important;
}

.v-tab .tab-link.active:hover{
  background-color: #00bcd4 !important;
}

.h-tab .tab-content{
  padding-top: 20px;
}

.figure-card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
}
.figure-card .card-header{
  float: left;
  text-align: center;
  margin: -23px -5px 0;
  border-radius: 3px;
  padding: 15px;
  position: relative;
}
.figure-card .card-content{text-align: right;}

 


  .fileUp {
    position: relative;
    overflow: hidden;
  }
  .fileUp input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    height: 100%;
    &:hover{
        cursor: pointer;
    }
  }
  .fileUp .material-icons{
    font-size: 192px;
    color: #ccc;
    opacity: 0.3;
}

.imgUp .form-group img{ box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);}
.imgUp .pr-3{cursor: pointer; margin-top: -21px;}
.imgUp b{font-weight: bold !important}

.card-upload .card-header { 
  width: 96.7%;
  text-align: left;
  span{
    color: #fff;
    font-size: 16px;
  }
}
.new_image{
  width: 100%;
  height: 210px;
}

mat-form-field {width: 100%}

.browse {
  position: relative;
  overflow: hidden;
  padding: 10px 10px !important;
  :hover{
    cursor: pointer;
  }
}
.browse input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.mi-cloud{ 
  position: relative;
  display: inline-block;
  top: 0;
  margin-top: -1em;
  margin-bottom: -1em;
  font-size: 1.1rem;
  vertical-align: middle;
}
.browse-url { 
  padding: 0 10px 0 0!important;
  height: auto;
  max-height: 320px;
  margin: 0;
}
.browse-ct {
  padding: 0 10px 0 0 !important;
  min-height: 250px;
  margin: 0;
  height: auto;
}
.browse-url-input { 
  padding: 0 10px 0 0!important; 
}
.browse-url img{
  height: auto;
  max-height: 190px;
  width: 100%;
  border-radius: 5px;}

  .p-td{width:120px; padding: 8px 0px;}




  @media (min-width: 2200px) and (max-width: 2560px) {
    .browse-url, .browse-ct {  
      height: auto;
      min-height: 570px;
      max-height: 570px; 
    }
    .browse-url img{
      height: auto;
      max-height: 570px;
      width: 100%; 
    } 
  }

  
  @media (min-width: 2000px) and (max-width: 2199px) {
    .browse-url, .browse-ct {  
      height: auto;
      min-height: 530px;
      max-height: 530px; 
    }
    .browse-url img{
      height: auto;
      max-height: 530px;
      width: 100%; 
    } 
  }
  

  @media (min-width: 1760px) and (max-width: 1999px) {
    .browse-url, .browse-ct {  
      height: auto;
      min-height: 435px;
      max-height: 435px; 
    }
    .browse-url img{
      height: auto;
      max-height: 435px;
      width: 100%; 
    } 
  }

  @media (min-width: 1440px) and (max-width: 1759px) {
    .browse-url, .browse-ct {  
      height: auto;
      min-height: 305px;
      max-height: 305px; 
    }
    .browse-url img{
      height: auto;
      max-height: 305px;
      width: 100%; 
    } 
  }

  
  @media (min-width: 1260px) and (max-width: 1439px) {
    .browse-url, .browse-ct {  
      height: auto;
      min-height: 285px;
      max-height: 285px; 
    }
    .browse-url img{
      height: auto;
      max-height: 285px;
      width: 100%; 
    } 
  }

  

  
  @media (min-width: 290px) and (max-width: 768px) {
    .browse-url, .browse-ct {  
      height: 100%;
      min-height: unset;
      max-height: unset; 
    }
    .browse-url img{
      height: 100%;
      max-height: unset;
      width: 100%; 
    } 
  }





 