.bg-progress:hover, .bg-completed:hover, .bg-total:hover{opacity: 0.8}
.bg-Completed{background: linear-gradient(to bottom, #12b86d, #0e8b53);}
.bg-Active{background: linear-gradient(to right, #69be4a, #069654);} 
.bg-Review{background: linear-gradient(to left, #69be4a, #069654);} 
.bg-Approval{background: linear-gradient(to bottom, #69be4a, #069654);} 
.bg-Signature{background: linear-gradient(to left, #69be4a, #069654);} 
.bg-totall{background: linear-gradient(to right, #69be4a, #069654);} 
.dTable table{font-size: 12px;}
.dTable .card-body{padding: 0px}
.dTable .table thead th { 
    font-size: 11px;
}
.bg-Completed .fa, .bg-Active .fa, .bg-Review .fa, .bg-Approval .fa, .bg-Signature .fa, .bg-totall .fa{font-size: 16px} 