<div class="animated fadeIn container-fluid mt-4 mb-4 p-1-sm">
    <div class="card">
      <div class="card-body">
        <div class="row">
  
  
  
          <div class="col-md-1 col-xs-12">&nbsp;</div>
          <div class="col-md-2 col-xs-6">
            <div class="card text-white bg-Completed">
              <div class="card-body p-1 pl-3">
                <div><i class="fa fa-check-square-o" aria-hidden="true"></i> <b> Completed </b> <span
                    class="text-value pl-2"> 322 </span></div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-xs-6">
            <div class="card text-white bg-Active">
              <div class="card-body p-1 pl-3">
                <div><i class="fa fa-wifi" aria-hidden="true"></i> <b> Active</b> <span class="text-value pl-2"> 205
                  </span></div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-xs-4">
            <div class="card text-white bg-Review">
              <div class="card-body p-1 pl-3">
                <div><i class="fa fa fa-hourglass-end" aria-hidden="true"></i> <b> Review</b><span
                    class="text-value pl-2"> 85 </span></div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-xs-4">
            <div class="card text-white bg-Approval">
              <div class="card-body p-1 pl-3">
                <div><i class="fa fa-check-circle-o" aria-hidden="true"></i> <b> Approval</b> <span
                    class="text-value pl-2"> 48 </span></div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-xs-4">
            <div class="card text-white bg-Signature">
              <div class="card-body p-1 pl-3">
                <div><i class="fa fa-id-card-o" aria-hidden="true"></i> <b> Signature</b> <span class="text-value pl-2">
                    72 </span></div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-xs-12">&nbsp;</div>
          <!-- <div class="col-md-2 col-xs-4">
                    <div class="card text-white bg-totall">
                      <div class="card-body p-1 pl-3">
                        <div><i class="fa fa-database" aria-hidden="true"></i> <b> Total</b> <span class="text-value pl-2"> 99  </span></div>
                      </div>
                    </div>
                  </div> -->
        </div>
        <div class="row">
  
          <div class="col-md-4 col-xs-12">
            <div class="card">
              <div class="card-header"> 
                  <i class="fa fa-align-justify"></i> Contract By LIBOR Impact
                  <div class="card-header-actions"> 
                    <a class="card-header-action btn-close" href="javascript:void(0)">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
              </div>
              <div class="collapse show">
                <div class="card-body">
                  <div class="chart-wrapper">
                    <canvas height="180" baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels"
                      [chartType]="pieChartType" [colors]="pieChartColors" [options]="pieChartposition"
                      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 col-xs-12">
            <div class="card">
              <div class="card-header"> 
                  <i class="fa fa-align-justify"></i> Contract by Relationship
                  <div class="card-header-actions"> 
                    <a class="card-header-action btn-close" href="javascript:void(0)">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
              </div>
              <div class="collapse show">
                <div class="card-body">
  
                  <div class="chart-wrapper">
                    <canvas height="180" baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                      [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                      [colors]="barChartColors" (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                  </div>
  
  
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4 col-xs-12">
            <div class="card">
              <div class="card-header"> 
                <i class="fa fa-align-justify"></i> Contract by Financial Instrument
                <div class="card-header-actions"> 
                  <a class="card-header-action btn-close" href="javascript:void(0)">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="collapse show">
                <div class="card-body">
  
                  <div class="chart-wrapper">
                    <canvas height="180" baseChart class="chart" [datasets]="barChartData_s" [labels]="barChartLabels_s"
                      [options]="barChartOptions" [legend]="barChartLegend" [colors]="barChartColors_s"
                      [chartType]="barChartType" (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="row dTable">
          <div class="col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> My Requests
                <div class="card-header-actions"> 
                  <a class="card-header-action btn-close" href="javascript:void(0)">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th>Contract Name</th>
                        <th>Borrower Name</th>
                        <th>Request Type</th>
                        <th>Due Date</th>
                        <th class="text-center">Request Status</th>
  
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– Ngen 20190517</span></td>
                        <td>NGen Enterprise</td>
                        <td>Review</td>
                        <td>08/27/2019</td>
                        <td class="text-center">
                          <span class="badge badge-success">Assigned</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">–Game 20190518</span></td>
                        <td>Game Technology</td>
                        <td>Approval</td>
                        <td>08/20/2019</td>
                        <td class="text-center">
                          <span class="badge badge-success">Assigned</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– TAG 20190527</span></td>
                        <td>TAG Corp</td>
                        <td>Review</td>
                        <td>08/28/2019</td>
                        <td class="text-center">
                          <span class="badge badge-warning">In Progress</span>
                        </td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– LLC 20190512</span></td>
                        <td>New LLC</td>
                        <td>Sign-off</td>
                        <td>08/10/2019</td>
                        <td class="text-center">
                          <span class="badge badge-danger">Over Due</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>Recently Processed Requests
                <div class="card-header-actions"> 
                  <a class="card-header-action btn-close" href="javascript:void(0)">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th>Contract Name</th>
                        <th>Financial Instrument</th>
                        <th>Borrower Name</th>
                        <th>Contract Expiry Date</th>
                        <th>Due Date</th>
                        <th class="text-center">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– LLC 20190509</span></td>
                        <td>Securities</td>
                        <td>New LLC</td>
                        <td>10/21/2019</td>
                        <td>08/26/2019</td>
                        <td class="text-center"><span class="badge badge-success">Completed</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– TAG 20190522</span></td>
                        <td>Derivatives</td>
                        <td>TAG Corp</td>
                        <td>10/13/2019</td>
                        <td>08/29/2019</td>
                        <td class="text-center"><span class="badge badge-warning">Awaiting Sign-off</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– Ngen 20190417</span></td>
                        <td>Loan agreement</td>
                        <td>NGen Enterprise</td>
                        <td>10/28/2019</td>
                        <td>08/22/2019</td>
                        <td class="text-center"><span class="badge badge-success">Completed</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– Game 20190316</span></td>
                        <td>Credit agreement</td>
                        <td>Game Technology</td>
                        <td>09/10/2019</td>
                        <td>08/28/2019</td>
                        <td class="text-center"><span class="badge badge-success">Completed</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> My Approvals
                <div class="card-header-actions"> 
                  <a class="card-header-action btn-close" href="javascript:void(0)">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th>Contract Name</th>
                        <th>Borrower Name</th>
                        <th>Request Type</th>
                        <th>Due Date</th>
                        <th class="text-center">Request Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– Game 20190519</span></td>
                        <td>Game Technology</td>
                        <td>Over Due</td>
                        <td>08/11/2019</td>
                        <td class="text-center"><span class="badge badge-danger">Over Due</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– LLC 20190519</span></td>
                        <td>New LLC</td>
                        <td>Approval</td>
                        <td>08/25/2019</td>
                        <td class="text-center"><span class="badge badge-success">Assigned</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– Ngen 20190231</span></td>
                        <td>NGen Enterprise</td>
                        <td>Review</td>
                        <td>08/20/2019</td>
                        <td class="text-center"><span class="badge badge-success">Assigned</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– TAG 20190517</span></td>
                        <td>TAG Corp</td>
                        <td>Approval</td>
                        <td>09/08/2019</td>
                        <td class="text-center"><span class="badge badge-warning">In Progress</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-6 col-xs-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> All Processed Contracts
                  <div class="card-header-actions"> 
                    <a class="card-header-action btn-close" href="javascript:void(0)">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th>Contract Name</th>
                        <th>Financial Instrument</th>
                        <th>Borrower Name</th>
                        <th>Contract Expiry Date</th>
                        <th>Due Date</th>
                        <th class="text-center">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– TAG 20190527</span></td>
                        <td>Credit agreement</td>
                        <td>TAG Corp</td>
                        <td>09/02/2019</td>
                        <td>08/26/2019</td>
                        <td class="text-center"><span class="badge badge-success">Completed</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– Ngen 20190231</span></td>
                        <td>Securities</td>
                        <td>NGen Enterprise</td>
                        <td>09/17/2019</td>
                        <td>08/24/2019</td>
                        <td class="text-center"><span class="badge badge-warning">Awaiting Sign-off</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– Game 20190515</span></td>
                        <td>Derivatives</td>
                        <td>Game Technology</td>
                        <td>09/14/2019</td>
                        <td>08/12/2019</td>
                        <td class="text-center"><span class="badge badge-danger">Over Due</span></td>
                      </tr>
                      <tr>
                        <td>Loan Agreement <br><span class="pl-3">– LLC 20190812</span></td>
                        <td>Loan agreement</td>
                        <td>New LLC</td>
                        <td>09/28/2019</td>
                        <td>08/25/2019</td>
                        <td class="text-center"><span class="badge badge-warning">Awaiting Sign-off</span></td>
                      </tr>
  
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>